<link rel="stylesheet" href="/CSS/Room.css">
<section id="roomsMain" class="container">
    {{#each rooms}}
    <div class="row">
        <div class="container room col-sm">
            <div class="container-fluid img-container"> 
                <img src="/uploads/{{this.roomPic}}" class="roomPics">
            </div>
                <div>
                    <h1>{{this.title}} </h1>
                    <h2>{{this.desc}}  </h2>
                    <h3>{{this.price}}  </h3>   
                    <h4>{{this.location}} </h4>                     
                    <a type="submit" class="btn btn-success" href="/Rooms/Update/{{this._id}}">Edit Room </a>
                    <form id="delete" method="POST" action="/Rooms/delete/{{this._id}}/?_method=DELETE">
                            <input type="submit" value="Delete Room" class="btn btn-warning" data-id="{{this._id}}" data-title="{{this.title}}">
                        </form>
                </div>
        </div>
    </div>
    {{/each}}
</section>
