<link rel="stylesheet" href="/CSS/Room.css">
</div>
  <div id="vidCont" class="embed-responsive embed-responsive-16by9">  
  <video class="video-fluid" autoplay loop muted>    
        <source src="https://a0.muscache.com/v/b9/40/b940906f-ab57-5fdd-b26a-6833c75cc9c1/b940906fab575fddb26a6833c75cc9c1_1500k_1.mp4?impolicy=high_quality" type="video/mp4" />
      </video>
</div>
<div id="contentCont">
<!-- Grid row -->

<p id="dest">Hot Destinations Recommended for you</p>

<section id="roomsMain" class="container">
    {{#each rooms}}
    {{!-- <div class="row"> --}}
        {{!-- <div class=" room "> --}}
            <div class="img-container"> 
                <a data-toggle="modal" data-target="#a{{this._id}}">
                    <img src="/uploads/{{this.roomPic}}" class="roomPics">
                </a>
            </div>
                <div>
                    <h1>{{this.title}} </h1>
                    <h2>{{this.desc}}  </h2>
                    <h3>{{this.price}}  </h3>   
                    <h4>{{this.location}} </h4> 
                </div>
        {{!-- </div> --}}
    {{!-- </div> --}}

    <div class="modal fade" id="a{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="{{this.title}}" aria-hidden="false">
      <div class="modal-dialog modal-md" role="document">

        <!--Content-->
        <div class="modal-content">

          <!--Body-->
          <div class="modal-body">

            <div class="embed-responsive z-depth-1-half">
                <img class="img-fluid" src="/uploads/{{this.roomPic}}">
                <h2 class="modalHead">{{this.title}}</h2>
                    <p>
                        {{this.desc}}
                    </p>
                    <p>{{this.price}}</p>
            </div>

          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center">
              <form action="/search/book/{{this._id}}" method="get">
            <input type="submit" class="btn btn-primary" value="Book Now">
            </form>
            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

          </div>

        </div>
        <!--/.Content-->
        </div>
        </div>

    {{/each}}
</section>